# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files\
/aws.xml
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Ignore Gradle project-specific cache directory
.gradle

.idea

# Ignore Gradle build output directory
build
gradle.properties

.project
.settings

/aws.xml
*.class
*.hprof
out

VariablesNumbers/PracticingVariablesNumbers/src/test/java/com/kenzie/practicingvariablesnumbers/ApplicationTest.java
ComparisonsConditionals/PracticingIfStatements/src/test/java/com/kenzie/practicingifstatements/ApplicationTest.java
